@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    margin: 0px;
}

/* ******************************************************** */
h1, h2, h3, h4, a, p, label, td {
    font-family: 'Oxygen', sans-serif;
    color: white;
}
input {
    font-family: 'Oxygen', sans-serif;
    color: black;
}
/* ******************************************************** */
body {
    background-color: rgb(19, 23, 31);
}

/* Header */
h1 {
    padding: 20px;
    text-align: center;
    font-weight: 900;
}
#navbar {
    text-align: center;
}
#navbar>ul {
    padding: 0;
}
#navbar>ul>li {
    list-style: none;
    display: inline-block;
}
#navbar>ul>li>a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 125%;
}
#navbar>ul>li>a:hover {
    color: rgb(255, 123, 0);
}
/* ******************************************************** */
/* Image */
#my-picture {
    text-align: center;
}
#my-picture>img {
    width: 350px;
    height: 350px;
    border-radius: 360px;
    border: 2px solid rgb(255, 123, 0);
}
/* ******************************************************** */
/* About me / socials */
.divider>h3 {
    padding: 1%;
}
p {
    padding: 1%;
}
#picture-degree-grid {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px dashed rgb(255, 123, 0);
}
#degree-name-grid {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr / 1fr 1fr;
}
#name {
    font-size: 150%;
    font-weight: 900;
}
.project-completion {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: 2% auto;
    border: 2px solid rgb(255, 123, 0);
    text-align: start;
    transition: 0.25s ease-in-out;
}
.project-completion>i {
    padding: 5%;
    color: white;
}
.project-completion>p {
    display: inline;
    font-weight: 900;
}
.project-completion:hover {
    background-color: rgb(59, 65, 87);
    transform: scale(1.25);
    cursor: pointer;
}
.completion-link {
    text-decoration: none;
    color: black;
}
/* ******************************************************** */
/* Main */
main {
    margin: 1% auto;
    width: 65%;
    border: 5px dashed rgb(255, 123, 0);
}
/* ******************************************************** */
/* Resume */
#resume h2, h3, h4 {
    padding: 1%;
}
#resume hr {
    margin: 1%;
}
#highlights, #technical-skills {
    margin: auto;
    color: white;
}
#highlights td, #technical-skills td {
    padding: 10px;
}
.resume-grid {
    display: grid;
    grid-template-columns: auto 20%;
}
.resume-item-title, .resume-item-desc, .resume-item-date {
    grid-column-start: 1;
    grid-column-end: 1;
}
.resume-item-date {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}
.resume-item-desc {
    padding-top: 0;
}
.resume-item-ext {
    padding-left: 2%
}
/* ******************************************************** */
/* Projects */
.language-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}
.language-grid a {
    text-decoration: none;
}
.language-grid h2 {
    padding: 1%;
    grid-column-start: span 3;
}
.language-project {
    margin: 20px;
    padding: 1%;
    border: 2px solid white;
}
.language-project:hover {
    background-color: rgb(59, 65, 87);
    transform: scale(1.25);
    cursor: pointer;
}
.language-grid hr {
    margin: 1%;
}